@import url(http://cs.nccu.edu.tw/~jonesyu/960gs/code/css/reset.css);
@import url(http://cs.nccu.edu.tw/~jonesyu/960gs/code/css/960.css);
@import url(http://cs.nccu.edu.tw/~jonesyu/960gs/code/css/text.css);
@import url(http://fonts.googleapis.com/css?family=Oswald);

.whole_content{
  background-image:url(http://subtlepatterns.com/patterns/sativa.png); 
  background-repeat: repeat; 
  border-radius: 100px;
  box-shadow: #808080 0px 10px 10px 10px;
  padding: 2em;
  font-family: "Helvetica Neue" , Helvetica , Arial , sans-serif;
  height:800px;
  margin-top:20px;
  margin-bottom:20px;
}

	ul, li, a{
			list-style: none;

		    text-decoration: none;

	}


.menu {
		    clear:both;
		    overflow: auto;
		    padding-top: 1em;
			border-bottom: 5px dotted;
			border-bottom-color: #524d6f;
  margin-bottom:1em;
    }

	.menu ul li { 
		display: inline; 
		}

	.menu ul li a {
	        font-size : 30px;
	        color : #0000cd;
		    float: left;
		    padding: 10px 25px;
		    letter-spacing: 1px;
		    color: #423d3f;
		}
	.menu:hover li a {
		    text-shadow: 0px 0px 3px #555;
		    color: #bbb;
		    -webkit-transition: all .3s;
		}
	.menu li a:hover {
		    color: black;
		    text-shadow: 0px 0px 0px #000;

		}

	.menu li a:active {
		    position: relative;
		}
h1 {
	font-size : 30px;
	color : #0000cd;
}
h2 {
	font-size : 25px;
	color : #006400;
 
			border-bottom: 1px dotted;
			border-bottom-color: #000;
			
			color:#444;
  margin-top:1em;
			margin-bottom: 1em;
		}


	h2:first-letter
		{
			font-size:160%;
			color:#005a65;
		}
h4 {
  margin-top:0.5em;
	font-size : 17.5px;
	color : #483D8D;
}